[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = http://github.com/bbommarito/vim-slim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = http://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
